//Utilities
@import "../../assets/utilities/namedVariables.scss";
@import "../../assets/utilities/global.scss";

.myth-nav {
	font-weight: bold;
	text-transform: uppercase;

	.container {
		@include maxSize;

		height: 100%;
		margin: 0 auto;
		padding-bottom: 0;
		padding-top: 0;
	}

	&_logo {
		max-height: 56px;
		max-width: 100px;
	}
}

.MuiToolbar-regular {
	@include maxSize;

	margin: 0 auto;
	padding: 0;
}

header {
	&.MuiPaper-root {
		display: flex;
		padding: 0;

		& > div {
			max-width: 1200px;
			margin: 0 auto;
			padding: 0 40px;
		}

		button {
			font-weight: bold;
		}
	}
}
