//Utilities
@import "../../assets/utilities/namedVariables.scss";
@import "../../assets/utilities/global.scss";

.card {
	display: inline-block;
	height: calc(466px / 1.5);
	width: calc(333px / 1.5);
	margin: 15px;
	cursor: pointer;
	transition-duration: 0.15s;

	&:hover {
		transition-duration: 0.25s;
		transform: scale(1.2);
	}

	&-modal {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		width: "100%";
		max-width: "900px";
		overflow-wrap: break-word;
		color: $white;

		img {
			cursor: default;
			height: 100%;
			width: 100%;
			max-height: 466px;
			max-width: 333px;

			&:hover {
				transform: scale(1);
			}
		}

		&_content {
			min-width: 348px;
			width: 100%;
			max-width: 300px;
			padding: 0 $spacingSmall;
		}
	}
}

//Media Queries
@media (max-width: $break_lg) {
	.card-modal {
		min-width: auto;
		width: 100%;
		max-width: 400px;

		&_content {
			min-width: auto;
		}
	}
}

@media (max-width: $break_sm) {
	.card-modal {
		max-width: 300px;
	}
}

@media (max-width: 500px) {
	.card-modal {
		max-width: 300px;
	}
}

@media (max-width: 375px) {
	.card-modal {
		max-width: 200px;
	}
}

@media (max-width: 320px) {
	.card-modal {
		max-width: 150px;

		img {
			margin: 15px auto;
			transform: scale(1.15);
		}

		&_content {
			padding: 0;

			h3 {
				font-size: 24px;
			}
		}
	}
}
