//Utilities
@import "../../assets/utilities/namedVariables.scss";
@import "../../assets/utilities/global.scss";

.myth-nav {
	font-weight: bold;
	text-transform: uppercase;

	.container {
		@include maxSize;

		height: 100%;
		margin: 0 auto;
		padding-bottom: 0;
		padding-top: 0;
	}

	&-company {
		.navbar-nav .nav-link {
			color: $white-secondary;

			&:hover {
				color: $white;
			}
		}

		.MuiButton-endIcon {
			margin-left: 0;
		}

		button {
			color: $white;
		}
	}

	&-game {
		background-color: $white;
		padding-top: 0;
		padding-bottom: 0;
		border-bottom: 1px solid $white-secondary;

		button {
			color: $black;
		}
	}

	&_logo {
		max-height: 56px;
		max-width: 100px;
	}
}

.MuiToolbar-regular {
	@include maxSize;

	margin: 0 auto;
	padding: 0;
}

header {
	&.MuiPaper-root {
		display: flex;
		padding: 0;

		// &:nth-of-type(1) {
		// 	background-color: $black;
		// }

		// &:nth-of-type(2) {
		// 	background-color: $white;
		// }

		& > div {
			max-width: 1200px;
			margin: 0 auto;
			padding: 0 40px;
		}

		button {
			font-weight: bold;
		}
	}
}
