//Utilities
@import "../../assets/utilities/namedVariables.scss";
@import "../../assets/utilities/global.scss";

.featured-news {
	@include maxSize;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 2rem;
	margin: 0 auto;

	&_cards {
		// display: flex;
		// flex-direction: row;
		// flex-wrap: wrap;
		// justify-content: space-between;
		// gap: 2rem;
		display: grid;
		grid-template-columns: repeat(auto-fit, 350px);
		grid-column-gap: 1rem;
		grid-row-gap: 1rem;
		justify-content: center;
		width: 100%;
	}

	.btn-cta {
		margin: 0 auto;
		margin-top: $spacingSmall;
	}
}

form {
	.MuiTextField-root {
		margin-bottom: $spacingExtraSmall;
	}
}

//Media Queries
@media (max-width: $break_xlg) {
	.featured-news {
		justify-content: center;

		h3 {
			text-align: center;
		}

		&_cards {
			justify-content: center;
		}
	}
}
