//Utilities
@import "../../assets/utilities/namedVariables.scss";
@import "../../assets/utilities/global.scss";

.card-news {
	@include boxShadow;

	width: 100%;
	height: 100%;
	max-width: 350px;
	background-color: $white;
	text-align: left;
	cursor: pointer;

	img {
		width: 100%;
		max-width: 350px;
	}

	&_content {
		padding: 16px;
		padding-bottom: 40px;
		color: $black;

		span {
			color: #666;
			font-size: 14px;
		}

		p {
			margin: 0;
			padding-top: 0.5rem;
		}
	}
}
