//Utilities
@import "../../assets/utilities/namedVariables.scss";
@import "../../assets/utilities/global.scss";

.not-found-wrapper {
	@include maxSize;

	margin: 0 auto;
	text-align: center;
}

footer {
	position: absolute;
	bottom: 0;
}
